@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
body {
  font-family: "Short Stack", cursive;
}

h1 {
  color: #14d117;
}

/* Minimal CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.spinner {
  font-size: 50px;
  display: inline-block;
  animation: spin 1s linear infinite;
}

.loading-container.loading {
  visibility: visible;
}

.loading-container {
  visibility: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #222;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  color: #14d117;
  align-items: center;
  text-align: center;
}

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 500px;
}

h1 {
  margin-top: 50px;
  min-height: 50px;
}

select {
  padding: 10px 30px;
  background-color: #222;
  color: #14d117;
  border: 2px #14d117 solid;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

form > * {
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #14d117;
  max-width: 95%;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  line-height: 1.3;
}

li::after {
  content: "*";
  display: block;
  margin-top: 5px;
}

li:last-child::after {
  content: "";
}

button {
  font: inherit;
  padding: 10px 20px;
  background-color: #14d117;
  color: #222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #00ff04;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #14d117;
  border-radius: 5px;
  background-color: #222;
  color: #14d117;
  font: inherit;
}

textarea:focus {
  outline: none;
  border-color: #00ff04;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.markdown-editor {
}

.markdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdown > * {
  height: 400px;
  width: 50%;
  overflow: scroll;
}
